
p {
  display: inline-block;
}

.head {
  min-width: 8vw;
  max-height: 5rem;
}

.fighter {

  min-width: 8vw;
}

.input {
  min-width: 8vw;
}

.Counter {
  background: lightcoral;
  margin: 5vh auto;
  width: 650px;
  border: 1px solid black;
}

.BenchTable {
  background: lightgoldenrodyellow;
  margin: 5vh auto;
  width: 650px;
  border: 1px solid black;
  padding-left: 3vw;
}

.Graveyard {
  background: grey;
  margin: 5vh auto;
  width: 650px;
  border: 1px solid black;
}

.Waiting {
  margin: 5vh auto;
  width: 650px;
  border: 1px solid black;
  background: lightblue;
  padding-left: 3vw;
}